body {
    background-color: #fffca7;
    font-family: tahoma, sans-serif;
    line-height: 1.5;
    padding: 20px;
}
h1 {
    font-size: 3rem;
    text-align: center;
    color: darkblue;
    font-weight: 900;
}
a {
    color: black;
}
li {
    padding: 10px;
}
h2 {
    font-size: 2rem;
}
p,
li,
a {
    font-size: 1.5rem;
}
.recipe-image {
    margin: 0 auto;
    display: block;
}